body {
	margin: 0;
	font-family: 'Muli', sans-serif;
}

.container {
	text-align: center;
}
img {
	display: block;
	max-height: 650px;
	max-width: 100%;
	margin: 0 auto;
}
.divider {
	height: 150px;
}
.divider h3, h4 {
	margin: 0;
}
.divider h3 {
	padding-top: 45px;
}

/* ------------------------------------------------------------featherlight */
.featherlight-next span, .featherlight-previous span {
	font: initial;
	font-size: 2em;
}

/* ----------------------------------------------------------media queries */
@media (min-width: 800px) {
	.container {
		font-size: 85%;
	}
	.divider {
		height: 200px;
	}
}


